* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: "Baloo 2", cursive, sans-serif;
}
div,
p {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #190324;
}
.text-color {
  color: #e035f0;
}
.intro {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 90vh;
  header {
    padding-top: 5vh;
    img {
      max-width: 175px;
    }
  }
  .text {
    margin-top: 90px;
    margin-left: 50px;
    max-width: 430px;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 67px;
    color: #fff;
  }
}

.proposal {
  background-color: #f5e4ff;
  position: relative;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .scroll {
    position: absolute;
    display: block;
    background: url("../assets/scroll.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 45px;
    height: 45px;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
  }
  .proposal-img {
    order: 0;
    max-width: 530px;
    img {
      padding: 80px 40px 0 0;
      background-color: #e035f0;
      width: 100%;
    }
  }
  .proposal-content {
    padding-top: 20px;
    padding-left: 40px;
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 1em;
      color: #190324;
    }
    p {
      margin-top: 16px;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 1.4em;
      color: #190324;
    }
  }
}
.proposal-2 {
  background-color: #efd5ff;
}

.benefits {
  padding: 120px 0;
  background-color: #190324;
  color: #fff;
  h2 {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: #e035f0;
  }
  .cards {
    margin-top: 80px;
  }
  .card {
    padding: 30px;
    background-color: #280738;
    max-width: 420px;
    min-height: 470px;
    margin: 0 auto;
    .img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background-color: white;
    }
    h3 {
      margin-top: 24px;
      max-width: 323px;
      color: #e035f0;
    }
    p {
      max-width: 410px;
      margin-top: 8px;
    }
  }
}
