* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  font-family: "Baloo 2", cursive, sans-serif;
}
div,
p {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #190324;
}
.text-color {
  color: #e035f0;
}
.intro {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 90vh;
  header {
    padding-top: 5vh;
    img {
      max-width: 175px;
    }
  }
  .text {
    position: relative;
    margin-top: 90px;
    margin-left: 50px;
    max-width: 430px;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 67px;
    color: #f5e4ff;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.25))
      drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    animation: h1 1s ease-in-out;
  }
}

.proposal {
  background-color: #f5e4ff;
  position: relative;
  min-height: 80vh;
  padding: 11vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .scroll {
    position: absolute;
    display: block;
    background: url("../assets/scroll.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 45px;
    height: 45px;
    top: 17px;
    left: 50%;
    transform: translate(-50%);

    animation: scroll 2s infinite ease;
  }
  .content-img {
    margin-top: 16px;
    width: 509px;
    max-width: 100%;
  }
  .proposal-img {
    img {
      padding: 80px 40px 0 0;
      background-color: #e035f0;
    }
  }
  .proposal-content {
    padding-top: 20px;
    padding-left: 40px;
    max-width: 100%;
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 1em;
      color: #190324;
    }
    p {
      margin-top: 16px;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 1.4em;
      color: #190324;
    }
  }
}
.proposal-2 {
  background-color: #efd5ff;
}
.benefits {
  padding: 120px 0;
  background-color: #190324;
  color: #efd5ff;
  h2 {
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: #e035f0;
  }
  .cards {
    margin-top: 80px;
  }
  .card {
    padding: 30px;
    background-color: #280738;
    max-width: 420px;
    min-height: 470px;
    margin: 0 auto;
    .img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      background-color: #f5e4ff;
    }
    h3 {
      margin-top: 24px;
      max-width: 323px;
      color: #e035f0;
    }
    p {
      max-width: 410px;
      margin-top: 8px;
    }
  }
}

.cta {
  background-color: #f5e4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  .content {
    .btn {
      margin-top: 16px;
      padding: 10px 20px;
      background-color: #e035f0;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  color: #f5e4ff;
  text-align: center;
  height: 300px;
  img {
    margin: 0 auto;
    max-width: 150px;
  }
  div {
    margin-top: 16px;
  }
}

@media only screen and (max-width: 992px) {
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 12px;
  }
  .proposal {
    min-height: auto;
    padding: 40px 0 40px 0;
    .scroll {
      background: none;
    }
    .proposal-content {
      padding: 20px 20px 0 20px;
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .proposal-2 {
    padding: 20px 0 60px 0;
  }
  .intro {
    header {
      img {
        margin: 0 auto;
      }
    }
    height: 600px;
    .text {
      margin: 50px 0 0 0;
      max-width: 200px;
      font-size: 36px;
      line-height: 3.2rem;
    }
  }
  .content-img img,
  .content-img {
    margin: 0 auto;
  }
  .benefits {
    padding: 60px 0;
    h2 {
      font-size: 30px;
    }
    .cards {
      margin: 0 auto;
      .img-wrapper {
        width: 70px;
        height: 70px;
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    .card {
      min-height: auto;
      &:last-child {
        margin-top: 30px;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .intro {
    background-position: -440px center;
  }
}

@keyframes scroll {
  0% {
    top: 17px;
  }
  60% {
    top: 30px;
  }
  100% {
    top: 17px;
  }
}
@keyframes h1 {
  0% {
    left: -30px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
